.body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 1.5rem;
    margin-top: 11rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form{
    border: 1px solid;
    padding: 1rem;
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 2rem;

}

.table{

    text-align: center;

}
.buttonNav{
    width: 6rem;
    height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.nav{
   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.titleNav{
    color: azure;
    font-size: 2rem;
    text-decoration: none;
    
}
.titleNav:hover{
  
    color: azure;
    cursor: pointer;
    text-decoration: none;
}   

.colmName{
    width: 12rem;
}
.colmDes{
    width: 34rem;
}


.btn{
    margin: 1rem;
    width: 6rem;
   
    text-align: center;
    
}

.btn:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    
}
.bodyCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.modalFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.graf{
    width: 10rem;
    border: 1px solid;
}
.bodyBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.bodyR{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
.tablaCont{
    margin-top: 1rem;
   width: 100%;
   
  overflow: auto;
}
.logo{
    width: 2.5rem;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}