.body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 11rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

.buttonNav{
    width: 6rem;
    height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.nav{
   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.titleNav{
    color: azure;
    font-size: 2rem;
    text-decoration: none;
    
}
.titleNav:hover{
 
    color: azure;
    cursor: pointer;
    text-decoration: none;
}

.form{
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 2rem;
   
}

.btn{
  margin: 1.5rem;
    width: 10rem;
    height: 4rem;
   
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
   
    font-size: 1.5rem;
    width: 12rem;
    height: 6rem;
    
}
.bodyC{
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    
}
.btnC{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.logo{
    width: 2.5rem;
}